<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">Online Courses Catalog</title>
</head>
<body>

<header>
    <h1>Online Courses Catalog</h1>
    <nav>
        <a href="/">Home</a> |
        <a href="/courses">Courses</a> |
        <span th:if="${currentUser != null}">
                Welcome, <span th:text="${currentUser.username}">User</span>! |
                <a href="/courses/my-favorites">Избранное</a> |
                <a href="/logout">Войти</a>
            </span>
        <span th:unless="${currentUser != null}">
                <a href="/">Войти</a>
            </span>
    </nav>
</header>

<main layout:fragment="content">
    This is the default content.
</main>

<footer>
    <p>© 2025 Online Courses Catalog</p>
</footer>

</body>
</html>